.topheader {
    overflow: hidden;
    position: relative;
}

#myVideo {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    pointer-events: none;
    filter: blur(0.5vw) brightness(40%);
    position: relative;
  }

.headerimg {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    pointer-events: none;
    filter: blur(0.5vw) brightness(40%);
    position: relative;
}

.ch1 {
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #000;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ch2 {
    top: 50%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #000;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Text styling */
.top-padding {
    padding-top: 1rem;
}

.text-margin {
    margin-left: 10%;
}

.name {
    color: #fff;
    font-size: 42px;
    font-weight: 800;
}

.hight-light-text-gry {
    background-color: #242430;
    padding: 1px;
    padding-right: 4px !important;
    padding-left: 4px !important;
    border-radius: 4px;
}

.main-text {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}

.sub-text {
    font-size: 20px;
    color: #a8a8b8
}

bold {
    font-weight: 600;
}

white {
    color: rgb(207, 207, 207);
    font-weight: 600;
}


/* Links */
.aho {
    transition-duration: 300ms;
}

.aho:hover {
    color: #9D174D;
}

.saho {
    color: #ffb5bd;
    transition-duration: 300ms;
}

.saho:hover {
    color: #9D174D;
}


/* fonts */
.font-Roboto {
    font-family: 'Roboto', sans-serif;
}

.font-Lato {
    font-family: 'Lato', sans-serif;
}


/* Responisve */
@media only screen and (max-width: 1034px) {
    .top-padding {
        padding-top: 1rem!important;
    }

    .text-margin {
        margin: 1rem;
    }

    div {
        overflow-x: hidden;
    }
}