@media (min-width: 768px) {

    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
    
}

td:not(:last-child) {
    outline: 0;
}

th:not(:last-child) {
    outline: 2px;
    outline-style: solid;
    outline-color:rgba(0, 0, 0, .1);
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis 2s infinite;
    -moz-animation: ellipsis 2s infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
}
@keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 10px;
    }
}